{% extends 'prastuti/base.html' %}
{% load static %}
{% block body_block %}
<div id="profile" class="profile mt-5">
    <br><br>
    <div class="container">
        <div class="card-body">
            <div class="personal-details">
                <h2 class="card-title profile-name"><span style="font-size:2rem;">Welcome</span></h2>
                <h1 class="card-title profile-name">{{profile.name}}</h1>
            </div>
            <!-- begin accepted section -->
            <hr>
            <h2 id="myteams">MY TEAMS</h2>
            {% if not team_cnt %}
            <h5 style="color:black; font-weight:bolder;">You have not participated in any events yet</h5>
            
            {% endif %}
            <section id="my-teams">
                {% for team in teams %}
                 {% if profile not in team.team_not_accepted.all %}

                <div class="card my-team" style="width: 16rem;"> 
                    <div class="card-body" style="padding: 4%; margin-bottom: 0px;">
                        <div class="team-name">
                            <br>
                            <span style="font-size:1.4rem" ;><strong>Team: {{team.team_name}}</strong></span>
                        </div><hr>
                        <span style="font-size: 1.4rem"><b>{{team.team_event}}</b></span><br>
                        {% if team.team_event.event_name == 'Codigo'%}
                            <p>HackerRank Id : <strong><a href = "http://hackerrank.com/{{team.team_id}}">{{team.team_id}}</a></strong></p>
                        {% elif team.team_event.event_name == 'Recognizance' %}
                            <p>Kaggle Id : <strong><a href = "http://kaggle.com/{{team.team_id}}">{{team.team_id}}</a></strong></p>
                        {% endif %}
                        <form method="POST" action="{% url 'event_registration:delete_team' team.id %}" class="mt-3" id="team{{team.id}}">
                            {%csrf_token %}
                        </form>
                        <button onclick="conf('{{team.team_name}}','{{team.id}}') " class="btn btn-block btn-outline-danger mt-3" style="border-radius: 2px" >Delete Team</button>
                     
                    </div>
                      <ul class="list-group list-group-flush">
                        <h5><strong>Members</strong></h5>
                     {% for member in team.team_member.all %}
                     {% if member == user %}
                            <li class="list-group-item team-mem">You</li>
                    {% else %}
                            <li class="list-group-item team-mem">{{member.name}}</li>
                    {% endif %}
                    {% endfor %}
                    </ul>
                       {% if team.team_active is False %}
                    <ul class="list-group list-group-flush">
                        <h5 ><strong>Pending</strong></h5>
                         {% for profile in team.team_not_accepted.all %}
                            <li class="list-group-item team-mem"> {{profile.name}}</li>
                       {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endif %}

                
                {% endfor %}
    
            </section>
            <!-- end of accepted section -->
            
            <!-- begin invitations section -->

            <h2 id="myteams">INVITATIONS</h2>
            {% if not inv_cnt %}
            <h5 style="color:black; font-weight:bolder;">No pending invitations</h5>
            {% endif %}
            <section id="invitations">
                {% for team in teams %}
                 {% if profile in team.team_not_accepted.all %}
                <div class="card invitation" style="width: 16rem;">
                    <div class="card-body" style="padding: 6%;">
                        <form method="POST" action="{% url 'users:eventacceptance' team=team.id %}">
                            {%csrf_token %}
                            <div>
                                <span style="font-size: 1.4rem"><b>{{team.team_event}}</b></span><br>
                                <span style="font-size:1.4rem" ;><strong>{{team.team_name}}</strong></span>
                                <label for="accepted">invited you to join their team.</label>
                                <hr style="margin:5px;">
                                {% if team.team_event.event_name == 'Codigo'%}
                                <p>HackerRank Id : <strong><a href = "http://hackerrank.com/{{team.team_id}}">{{team.team_id}}</a></strong></p>
                                {% elif team.team_event.event_name == 'Recognizance' %}
                                <p>Kaggle Id : <strong><a href = "http://kaggle.com/{{team.team_id}}">{{team.team_id}}</a></strong></p>
                                {% endif %}
                            </div>
                            <label for="accepted">Accept their invitation?</label>
                            <br>
                            <input type="radio" id="Yes" name="accepted" value="Yes">
                            <label for="Yes">Yes</label>
                            <input type="radio" id="No" name="accepted" value="No">
                            <label for="No">No</label>
                            <br />
                            <button class="btn btn-outline-success" style="border-radius: 2px" type="submit" value="Submit">Submit</button>
                        </form>
                    </div>
                    <ul class="list-group list-group-flush">
                        <h5 ><strong>Members</strong></h5>
                      {% for member in team.team_member.all %}
                      {% if member == user%}
                        <li class="list-group-item team-mem">You</li>
                        {% else %}
                        <li class="list-group-item team-mem">{{member.name}}</li>
                        {% endif %}
                     {% endfor %}
                    </ul>
                    <br>
                    {% if team.team_active is False %}
                    <ul class="list-group list-group-flush">
                        <h5 ><strong>Pending </strong></h5>
                        {% for profile in team.team_not_accepted.all %}
                            {% if profile == user %}
                                <li class="list-group-item team-mem">You</li>
                            {% else %}
                                <li class="list-group-item team-mem">{{profile.name}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                 {% endif %}
                {% endfor %}
            </section>
            <a href="{% url 'users:userupdate' pk=profile.pk%}" class="btn btn-lg btn-light">Update Profile</a>
            
        </div>
    </div>
</div>
{% endblock %}

{% block js%}
<script>
        function conf(team_name,id){
            var yes = confirm('Do you want to delete team ' + team_name + '? It will be deleted for other team members too.')
            if(yes == true){
                document.getElementById("team" + id).submit();
            }
        }
    </script>
{% endblock %}
