{% extends 'prastuti/base.html' %}
{% block body_block %}
  <div id="sign-in-container", class="content3 mt-5">
    <div class="row">
      <div class="col col-12 col-lg-12">
        <h1 class="mt-5">Sign In</h1>
      </div>
      <div class="col col-12 col-lg-12">
        <form id="sign-in-form" class="form" action="{users:usersignin}" method="POST">
        {% csrf_token %}
          <fieldset>
            <div class="form-group">
              {% if form.errors %}
                <p>Please enter a correct email adress and password. Note that both fields may be case-sensitive.</p>
              {% endif %}
              <input placeholder="Enter your email" class="form-control form-control-sm"
                type="text" name="username" maxlength="150" autofocus
                required id="id_username" />
            </div>
            <div class="form-group">
              <input
                placeholder="Enter password"
                class="form-control-sm form-control"
                type="password"
                name="password"
                autocomplete="new-password"
                required
                id="id_password"
              />
          </fieldset>
          {% if request.GET.next %}
          <button class="btn btn-block btn-info" type="submit" style="margin-bottom:20px;" name="next" value="{{request.GET.next}}" >
            Sign In
          </button>
          {% else %}
          <button class="btn btn-block btn-info" style="margin-bottom:20px;" type="submit" ,="" value="Sign In" >
            Sign In
          </button>
          {% endif %}
        </form>
        <a href="{% url 'users:usersignup'%}" class="mb-2">Don't have an account?</a>
        <a href="{% url 'users:userrecovery'%}" class="mb-5">Forget password?</a>
      </div>
    </div>
  </div>
{% endblock %}
