{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, 
maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'prastuti/img/title-logo.png'%}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Monda&family=Righteous&family=Russo+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'prastuti/css/style.css' %}" />
  <title>Home</title>
</head>

<body>
  <div>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand name_logo" href="#bg-video"><img class="name_image" src="{% static 'prastuti/img/logo.png'%}" />
        </a>
        <button class="navbar-toggler custom-toggler float-xs-right ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto topBotomBordersOut">
            {% if currentHome %}
            <a href="#bg-video" class="nav-link nav-item active">Home</a>
            {% else %}
            <a href="{% url 'home'%}" class="nav-link nav-item">Home</a>
            {% endif %}
            {% if currentHome %}
            <a href="#about" class="nav-link nav-item about">About</a>
            {% else %}
            <a href="/#about" class="nav-link nav-item about">About</a>
            {% endif %}
            {% if currentHome %}
            <a href="#events" class="nav-link nav-item events">Events</a>
            {% else %}
            <a href="/#events" class="nav-link nav-item events">Events</a>
            {% endif %}
            {% if currentSchedule %}
            <a href="#" class="nav-link nav-item schedule active">Schedule</a>
            {% else %}
            <a href="{% url 'schedule' %}" class="nav-link nav-item schedule">Schedule</a>
            {% endif %}
            {% if user.is_staff %}
            <a class="nav-link nav-item" href="/admin/">Admin</a>
            {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-user" style="font-size: 20px;"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-div">
                <a href="{% url 'users:userprofile' email=user.email%}" class="dropdown-item dropdown-link">
                  Dashboard
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'users:userupdate' pk=user.pk%}" class="dropdown-item dropdown-link">Profile Update</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'users:userlogout' %}" class="dropdown-item dropdown-link">Log Out</a>
              </div>
              {% else %}
              <a class="btn btn-outline-success siginbutton mx-2 navbtn" href="{% url 'users:usersignin' %}"><i
                  class="fas fa-sign-in-alt mr-1"></i>Sign In</a>
              <a class="btn btn-outline-primary siginbutton mx-2 navbtn" href="{% url 'users:usersignup' %}"><i
                  class="fas fa-user-plus mr-1"></i>Sign Up</a>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div>
    {% block body_block %}
    {% endblock %}
  </div>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!--<div class="col"></div>-->
          <div class="col">
            <img class="footer_image" src="{% static 'prastuti/img/logo.png'%}" />
            <span class="text-white footer_text">Events by Electrical Engineering, IIT BHU</span>
          </div>
          <!--<div class="col"></div>-->
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'prastuti/js/main.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></script>
  <script>
    // var scroll = new SmoothScroll('a', {
    //   speed: 1000,
    //   speedAsDuration: true,
    // });

    //   $(function () {

    //     if (location.href.indexOf("schedule") > -1) {
    //       oldObj = $('.active');
    //       oldObj.removeClass('active');
    //       $('.schedule').addClass('active')

    //     } else if (location.href.indexOf("events") > -1) {
    //       oldObj = $('.active');
    //       oldObj.removeClass('active');
    //       $('.events').addClass('active')

    //     } else if (location.href.indexOf("#about") > -1) {
    //       oldObj = $('.active');
    //       oldObj.removeClass('active');
    //       $('.about').addClass('active')

    //     } else if (location.href.indexOf("users") > -1) {
    //       oldObj = $('.active');
    //       oldObj.removeClass('active');

    //     } else {
    //       oldObj = $('.active');
    //       oldObj.removeClass('active');
    //       $('.home').addClass('active')

    //     }
    //     $('a').on('click', function (e) {
    //       oldObj = $('.active');
    //       oldObj.removeClass('active');
    //       $(this).addClass('active');
    //     });

    //   });
    //  // Basice Code keep it 
    $(document).ready(function () {
      $(document).on("scroll", onScroll);

      //smoothscroll
      $('a[href^="#"]').on('click', function (e) {
        e.preventDefault();
        $(document).off("scroll");

        $('a').each(function () {
          $(this).removeClass('active');
        })
        $(this).addClass('active');

        var target = this.hash,
          menu = target;
        $target = $(target);
        $('html, body').stop().animate({
          'scrollTop': $target.offset().top + 2
        }, 500, 'swing', function () {
          window.location.hash = target;
          $(document).on("scroll", onScroll);
        });
      });
    });

    function onScroll(event) {
      var scrollPos = $(document).scrollTop();
      $('#navbarSupportedContent a').each(function () {
        var currLink = $(this);
        var refElement = $(currLink.attr("href"));
        console.log(refElement);
        // alert(refElement);
        if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
          $('#navbarSupportedContent ul a').removeClass("active");
          currLink.addClass("active");
        } else {
          currLink.removeClass("active");
        }
      });
    }
  </script>
  {% block js%}
  {% endblock %}
</body>

</html>