{% extends 'prastuti/base.html' %} {% load static %} {% block body_block %}
<div>
  <div class="loader justify-centre">
    <img class="loader_img" src="{% static 'prastuti/img/loader.gif' %}" />
  </div>
  <div id="top-section">
    <video id="bg-video" src="{% static 'prastuti/img/Circuit Board Background.mp4' %}" autoplay loop muted></video>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" id="messages">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{message}}
    </div>
    {% endfor %}
    <div id="overlay">
      <h2 class="display-head2">Department of Electrical Engineering, IIT BHU presents</h2>
      <h1 class="display-head1">
        Technical Extravaganza 2021
      </h1>
    </div>
  </div>
  <div class="main-content">
    <div class="content text-center" id="about">
      <section class="section">
        <div class="section-header my-schedule section-heading-home">
          <h1>
            <span>A</span><span>B</span><span>O</span><span>U</span><span>T</span>
          </h1>
          <div class="container single-timeline about">
            <p>Greetings from Dept. of Electrical Engineering, IIT BHU.<br><br>
              We are indeed honoured to unveil this edition of the annual techno-management fest of Dept.
               of Electrical Engineering.<br><br>
              The fest is majorly seen as a fiesta that celebrates the advent and development of Science and 
              Technology and brings in a stupendous footfall of nascent young minds. Hosted in the pioneering 
              institute, the fest has grown over the years in stature and has made its impact. With the endeavour
              to make it a glory, it would feature an array of innovative events and thus reconstructing the era
              of technological renaissance, promoting the growth of research instincts amongst the literati of
              the institute. This year, participants from across the institute will come together to celebrate
              the essence of neoteric techno-innovations through a deluge of events.<br><br>Looking forward to your
               zealous participation with the assurance that you'll return a little more enriched and fulfilled.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="content text-center" id="events">
      <section class="section">
        <div class="section-header my-schedule section-heading-home">
          <h1>
            <span>E</span><span>V</span><span>E</span><span>N</span><span>T</span><span>S</span>
          </h1>
        </div>
      </section>
      <div class="row">
        {% for event in events %}
        <div class="row mb-3 event-card">
          <div class="event-card-in no-gutters">
            <div class="event-img">
              <img src='{% static "prastuti/img/"|add:event.event_name|add:".jpg"  %}' class="card-img" alt="..." />
            </div>
            <div>
              <div class="card-body" style="padding: 2%">
                <h3 class="card-title" style="margin: 2px">
                  {{event.event_name}}
                </h3>
                <p class="card-text">{{event.discription}}</p>
              </div>
              <div class="event-btns" style="padding: 2%">
                <a class="btn btn-block btn-outline-info"
                  href="{% url 'event_registration:register' event.event_name %}">
                  Register
                </a>
                <a class="btn btn-block btn-outline-info" href="{% url 'events:event_info' event.event_name|lower %}">
                  About
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  setTimeout(function () {
    $(".loader").fadeOut();
    $(".loader_img").delay(150).fadeOut("slow");
  }, 1700);
</script>
{% endblock %}