{% extends 'prastuti/base.html' %} {% load static %} {% block body_block %}
<div class="my-schedule content2">
  <section class="section">
    <div class="section-header section-heading-schedule">
      <h1>
        <span>S</span><span>C</span><span>H</span><span>E</span><span>D</span
        ><span>U</span><span>L</span><span>E</span>
      </h1>
    </div>
 
  <!--events starts from here -->
  <div class="container single-timeline shadow-box event-name">
    <div class="row">
      <div class="col">
        <div>
          <ul class="event--image">
            <li>
              <img
                src="{% static 'prastuti/img/Codigo.jpg'%}"
                class="card-img"
              />
              <div class="image-header">
                <h3><b> Codigo </b></h3>
              </div>
            </li>
            <span class="time" aria-hidden="true">Event date to be announced</span>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="previous-workshop">
          <div class="prev_workshop">Previous Workshops</div>
          <div>
            <ul>
              <li>
                <a href="#" target="_blank">STL Containers, Binary Search & Z-Algorithm</a>
              </li>
              <li>
                <a href="https://drive.google.com/file/d/1TNQWI1sBOPpEtLtB4DppqaO6BdsK5JQm/view?usp=sharing" target="_blank">Graph & its Algorithms</a>
              </li>
              <li>
                <a href="#" target="_blank">Dynamic Programming and Number Theory</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="Next-workshop">
          <div class="up_workshop">Upcoming workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Coming Soon</a><br />
              <small><cite></cite></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!--This is second event-->

  <div class="container single-timeline shadow-box event-name">
    <div class="row">
      <div class="col">
        <div>
          <ul class="event--image">
            <li>
              <img
                src="{% static 'prastuti/img/CryptX.jpg'%}"
                class="card-img"
              />
              <div class="image-header">
                <h3><b> CryptX </b></h3>
              </div>
            </li>
            <span class="time" aria-hidden="true">Event date to be announced</span>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="previous-workshop">
          <div class="prev_workshop">Previous Workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Basics of Python</a>
            </li>
            <li>
              <a href="#" target="_blank">Fundamentals of Modern Cryptography</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="Next-workshop">
          <div class="up_workshop">Upcoming workshops</div>
          <ul>
            <li>
              <a href="https://bit.ly/cryptX" target="_blank">Cryptographic Maths</a><br />
              <small><cite>Feb 14 | 11:00AM - 12:30PM</cite></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!--And here comes the third 1-->

  <div class="container single-timeline shadow-box event-name">
    <div class="row">
      <div class="col">
        <div>
          <ul class="event--image">
            <li>
              <img
                src="{% static 'prastuti/img/Recognizance.jpg'%}"
                class="card-img"
              />
              <div class="image-header">
                <h3><b> RECOGNIZANCE </b></h3>
              </div>
            </li>
            <span class="time" aria-hidden="true">Event date to be announced</span>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="previous-workshop">
          <div class="prev_workshop">Previous Workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Basics of Python</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="Next-workshop">
          <div class="up_workshop">Upcoming workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Machine Learning</a><br />
              <small><cite>Feb 16 | 6:30PM - 8:00PM</cite></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!--the fourth 1-->

  <div class="container single-timeline shadow-box event-name">
    <div class="row">
      <div class="col">
        <div>
          <ul class="event--image">
            <li>
              <img
                src="{% static 'prastuti/img/Simulim.jpg'%}"
                class="card-img"
              />
              <div class="image-header">
                <h3><b> Simulim </b></h3>
              </div>
            </li>
            <span class="time" aria-hidden="true">Event date to be announced</span>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="previous-workshop">
          <div class="prev_workshop">Previous Workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Basics of PSIM/Matlab</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="Next-workshop">
          <div class="up_workshop">Upcoming workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Basics of Power Electronics</a><br />
              <small><cite>Feb 12 | 11:00AM - 12:30PM</cite></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!--Fifth 1-->

  <div class="container single-timeline shadow-box event-name">
    <div class="row">
      <div class="col">
        <div>
          <ul class="event--image">
            <li>
              <img
                src="{% static 'prastuti/img/Consilium.jpg'%}"
                class="card-img"
              />
              <div class="image-header">
                <h3><b> Consilium </b></h3>
              </div>
            </li>
            <span class="time" aria-hidden="true">Event date to be announced</span>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="previous-workshop">
          <div class="prev_workshop">Previous Workshops</div>
          <ul>
            <li>
              <a href="#" target="_blank">Number System and Boolean Algebra</a>
            </li>
            <li>
              <a href="#" target="_blank">Combinational Circuits</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="Next-workshop">
          <div class="up_workshop">Upcoming workshops</div>
          <ul>
            <li>
              <a href="https://bit.ly/2Np8uTN" target="_blank">Flip flops</a><br />
              <small><cite>Feb 13 | 11:00AM - 12:30PM</cite></small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
{% endblock %}
