{% extends 'prastuti/base.html' %}
{% load static %}
{% block body_block %}
<div class="light pt-3 pt-lg-5 pb-2 text-light container-fluid"
  style="margin-top: 76.3px; margin-bottom: -1px; background-color: #0a043c;">
  <div class="container">
    <div class="section-header">
      <h1 class="font-weight-bold mb-5 eventName">
        CODIGO
      </h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-7 order-2 order-md-1 details">
        <hr class="d-none d-md-block bg-secondary">
        <div>
          <p class="font-weight-light mt-2 mb-0"><span class="font-weight-bold" style="color:#e5707e">Date:</span>
            To be announced</p>
          <p class="font-weight-light mb-0"><span class="font-weight-bold" style="color:#e5707e">Time:</span> To be announced
          </p>
          <p class="font-weight-light mb-3"><span class="font-weight-bold" style="color:#e5707e">Team size:</span>
            1</p>
        </div>
        <hr class="d-none d-md-block bg-secondary">
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2">
        <img src="/static/prastuti/img/Codigo.jpg" class="event_image rounded-0">
      </div>
      <div class="col-12 order-3 mt-2 mt-lg-4">
        <h2 class="font-weight-bold mb-1 mt-4" style="font-family: 'Righteous', cursive; color:#e27802">Description</h2>
        <p class="pt-0" style="font-family: 'Monda', sans-serif; color:#cdd0cb;"> Codigo is a competitive
           programming event. This event will help you to solve real life problems using computer programming.
            The event will be organised on HackerRank.<br><br> Happy Coding.
        </p>
        <span><a class="btn btn-outline-danger btn-md mt-4 px-3 rounded-0 no-btn-shadow " data-tilt target="_blank"
          href="#">Problem Statement
        </a></span>
        <span><a class="btn btn-outline-info btn-md mt-4 px-3 rounded-0 no-btn-shadow"
          href="{% url 'event_registration:register' 'Codigo' %}">
          Register
        </a></span>
      </div>
    </div>
    <div>
      <h2 class="mt-5 mb-3 font-weight-bold" style="font-family: 'Righteous', cursive; color:#e27802">Workshops</h2>
      <div class="pl-2">
        <ol type="I">
          <li>
            <a href="https://drive.google.com/file/d/1j1hzoOqkf5Q0u03ssISFLZL0VUxdVIbr/view?usp=sharing" target="_blank" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">STL Containers, Binary Search & Z-Algorithm</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Standard Template Library( Vectors, Sets, 
              Maps, Stacks and Queues, Priority Queues and Strings ), Binary Search and Z-algorithm.
            </p>
          </li>
          <li>
            <a href="https://drive.google.com/file/d/1kQQfZ-LbbdWnd8plDpixpWlhV54gnQil/view?usp=sharing" target="_blank" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Graph & its Algorithms</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Graph terminology, Storage of the graph
              (Adjacency list, adjacency matrix, edge list), Searching algorithms(Depth First Search and Breadth-First 
              Search) and Dijkstra's algorithm( Shortest Path First Algorithm)
            </p>
          </li>
          <li>
            <a href="#" target="_blank" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Dynamic Programming and Number Theory</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Overlapping substructure, Dynamic programming
              (Bottom-up and Top-down approach), Modular arithmetic, Modular Exponentiation, Finding GCD and Sieve of 
              Eratosthenes
            </p>
          </li>
        </ol>

      </div>
      <div>
        <h2 class="mt-5 mb-3 font-weight-bold" style="font-family: 'Righteous', cursive; color:#e27802">Coordinators</h2>
       
        <ul>
          <li><h4><span style="font-family: 'Russo One', sans-serif;">Anshuman Pathak - <a href="tel:7667307714">7667307714</a></span></h4></li>
          <li><h4><span style="font-family: 'Russo One', sans-serif;">Aman Singh - <a href="tel:9555358711">9555358711</a></span></h4></li>
          <li><h4><span style="font-family: 'Russo One', sans-serif;">Aman Kumar - <a href="tel:9899039679">9899039679</a></span></h4></li>
          <li><h4><span style="font-family: 'Russo One', sans-serif;">Chowdepalli Rajeshwar Reddy - <a href="tel:9440033545">9440033545</a></span></h4></li>
          <li><h4><span style="font-family: 'Russo One', sans-serif;">Pradyumn Singh - <a href="tel:9559575465">9559575465</a></span></h4></li>
          <li><h4><span style="font-family: 'Russo One', sans-serif;">Saurabh Singh Tiwari - <a href="tel:7024452828">7024452828</a></span></h4></li>
      </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}