{% extends 'prastuti/base.html' %}
{% load static %}
{% block body_block %}
<div class="light pt-3 pt-lg-5 pb-2 text-light container-fluid"
  style="margin-top: 76.3px; margin-bottom: -1px; background-color: #0a043c;">
  <div class="container">
    <div class="section-header">
      <h1 class="font-weight-bold mb-5 eventName">
        CONSILIUM</h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-7 order-2 order-md-1 details">
        <hr class="d-none d-md-block bg-secondary">
        <div>
          <p class="font-weight-light mt-2 mb-0"><span class="font-weight-bold" style="color:#e5707e">Date:</span>
            To be announced</p>
          <p class="font-weight-light mb-0"><span class="font-weight-bold" style="color:#e5707e">Time:</span> To be announced
          </p>
          <p class="font-weight-light mb-3"><span class="font-weight-bold" style="color:#e5707e">Team size:</span>
            1 - 2</p>
        </div>
        <hr class="d-none d-md-block bg-secondary">
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2">
        <img src="/static/prastuti/img/Consilium.jpg" class="event_image rounded-0">
      </div>
      <div class="col-12 order-3 mt-2 mt-lg-4">
        <h2 class="font-weight-bold mb-1 mt-4" style="font-family: 'Righteous', cursive; color:#e27802">Description</h2>
        <p class="pt-0" style="font-family: 'Monda', sans-serif; color:#cdd0cb;">Consilium is a Digital Electronics
           based event where the students will design complex digital systems and simulate them on Proteus. The problem
            statement will be chosen from real-life examples that can be synthesised using digital 
            electronics concepts.
        </p>
        <span><a class="btn btn-outline-danger btn-md mt-4 px-3 rounded-0 no-btn-shadow " data-tilt target="_blank"
          href="#">Problem Statement
        </a></span>
        <span><a class="btn btn-outline-info btn-md mt-4 px-3 rounded-0 no-btn-shadow"
          href="{% url 'event_registration:register' 'Consilium' %}">
          Register
        </a></span>
      </div>
    </div>
    <div>
      <h2 class="mt-5 mb-3 font-weight-bold" style="font-family: 'Righteous', cursive; color:#e27802">Workshops</h2>
      <div class="pl-2">
        <ol type="I">
          <li>
            <a href="#" target="_blank" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Number System and Boolean Algebra</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Analog and digital signals, Number system, 
              Boolean algebra, Logic gates and  Karnaugh maps
            </p>
          </li>
          <li>
            <a href="#" target="_blank" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Combinational Circuits</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Binary Number Representation-Unsigned magnitude 
              representation, Signed magnitude Representation, 1's complement representation, 2's complement 
              representation; Combinational Circuits-Adders, Decoder, Encoder, Multiplexer, Demultiplexer.
            </p>
          </li>
        </ol>

      </div>
      <div>
        <h2 class="mt-5 mb-3 font-weight-bold" style="font-family: 'Righteous', cursive; color:#e27802">Coordinators</h2>
        
        <ul>
            <li><h4><span style="font-family: 'Russo One', sans-serif;">Aman Bansal - <a href="tel:9468505562">9468505562</a></span></h4></li>
            <li><h4><span style="font-family: 'Russo One', sans-serif;">Chowdepalli Rajeshwar Reddy - <a href="tel:9440033545">9440033545</a></span></h4></li>
            <li><h4><span style="font-family: 'Russo One', sans-serif;">Divyank Tyagi - <a href="tel:9027461748">9027461748</a></span></h4></li>
            <li><h4><span style="font-family: 'Russo One', sans-serif;">Palla Ratna Durga Sravan - <a href="tel:8074029973">8074029973</a></span></h4></li>
            <li><h4><span style="font-family: 'Russo One', sans-serif;">Vinay Saini - <a href="tel:9649743184">9649743184</a></span></h4></li>
        </ul>
      </div>

    </div>
  </div>
</div>
{% endblock %}