{% extends 'prastuti/base.html' %}
{% load filter %}
{% load static %}
{% block body_block %}
<div id="registration-container" class="content3">
  <input id="backbuttonstate" type="text" value="0" style="display:none;" />
  <div class="row">
    <div class="col col-12 col-lg-12">
      <form method="POST" action="{% url 'event_registration:register' event %}" class="display-5">
          {% csrf_token %}
          <h1 class='display-5 text-center'>Registration for {{ event.event_name }} </h1>
          <hr>
          <div class="form-group">
            <label for="team_size">Choose the team size: </label>
            <select class="form-control py-2" name="team_size" id="size" onchange="emailField()">
              {% if not teamsize %}
              <option class="text-muted" value="0">Select Team Size</option>
              {% else %}
              <option class="text-muted" value="{{teamsize}}">{{teamsize}}</option>
              {% endif %}
                {% for i in allowed_team_sizes %}
                  <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
          </div>

          <div id = "emails">
            {% if teamsize > 0 %}
              {% if error|get_key:'notregister' %}
                <div class="alert alert-danger">
                  <span>{{error|get_key:'notregister'}}</span>
                </div>
              {% endif %}
              {% if error|get_key:teamsize %}
                <div class="alert alert-danger">
                  <span>{{error|get_key:teamsize}}</span>
                </div>
              {% endif %}
              <div class="form-group">
                <label for="teamname">Team name:</label>
                <input class="form-control form-control-sm" type="text"  id="teamname" name='team_name' value = "{{teamname}}" required>
                    {% if error|get_key:teamname %}
                      <div class="alert alert-danger">
                        <span>{{error|get_key:teamname}}</span>
                      </div>
                    {% endif %}
              </div>
              {% for key,value in emailids.items %}
                <div class="form-group">
                    <label for="email{{forloop.counter}}">Email id of member {{forloop.counter}}</label>
                    <input class="form-control form-control-sm" type="email"  id ="email{{forloop.counter}}" name='email{{forloop.counter}}' value = "{{value}}">
                    {% if error|get_key:key %}
                        <div class="alert alert-danger">
                          <span>{{error|get_key:key}}</span>
                        </div>
                    {% endif %}
                </div>
              {% endfor %}

              {% if event.event_name == 'Codigo' or  event.event_name == 'Recognizance' %}
                <div class="form-group">
                    {% if event.event_name == 'Recognizance'%}
                    <label for="team_id">Kaggle id of the team</label>
                    <input class="form-control form-control-sm" type="text"  id="team_id" name='team_id' value = "{{team_id}}" required>
                  {% else %}
                   <label for="team_id">HackerRank id of the user</label>
                  <input class="form-control form-control-sm" type="text" id="team_id" name='team_id' value = "{{team_id}}" required>
                    {% endif %}
                </div>
              {% endif %}
              <button type="submit" class="btn-block btn btn-success">Submit</button>
            {% endif %}
          </div>
      </form>

    </div>

  </div>

</div>
{% endblock %}

{% block js %}
     <script>
       document.addEventListener('DOMContentLoaded', function () {
          var ibackbutton = document.getElementById("backbuttonstate");
          setTimeout(function () {

              if (ibackbutton.value == "0") {
                  // Page has been loaded for the first time - Set marker
                  ibackbutton.value = "1";
              } else {
                  // Back button has been fired.. Do Something different..
                  emailField();
              }
          }, 200);
          }, false);

        
         function emailField(){

            var lst = parseInt(document.getElementById("size").value)
            var emails = document.getElementById("emails")
            while (emails.firstChild) {
                emails.removeChild(emails.lastChild);
            }
            if (lst == 0)return;
            var node = document.createElement("div")
            node.setAttribute("class","form-group")
            var lab = document.createElement("label")
            lab.innerHTML = "Team Name"
            var name = document.createElement("input")
            name.setAttribute("class","form-control form-control-sm")
            name.setAttribute("type",'text')
            name.required = true
            name.setAttribute("name","team_name")
            node.appendChild(lab)
            node.appendChild(name)
            emails.appendChild(node)
            for(var i = 1; i <= lst; i++){
                var node = document.createElement("div")
                node.setAttribute("class","form-group")
                var label = document.createElement("label")
                label.innerHTML = "Email ID of Member #" + i;
                var field = document.createElement("input")
                field.setAttribute("class","form-control form-control-sm")
                field.setAttribute('type',"email");
                field.setAttribute('name','email' + i);
                field.required = true
                if (i == 1){
                 field.setAttribute('value','{{emailids|get_key:"email1"}}')
                }
                node.appendChild(label);
                node.appendChild(field);
                emails.appendChild(node);
            }

            {% if event.event_name == 'Codigo' or event.event_name == 'Recognizance' %}
            var node = document.createElement("div")
            node.setAttribute("class","form-group")
            var label = document.createElement("label")
            {% if event.event_name == 'Codigo' %}
            label.innerHTML = "Hackerrank id of the user"
            {% endif %}
            {% if event.event_name == 'Recognizance' %}
            label.innerHTML = "kaggle id of the team"
            {% endif %}
            var field = document.createElement("input")
            field.setAttribute('type',"text");
            field.setAttribute('name','team_id');
            field.setAttribute("class","form-control form-control-sm")
            node.appendChild(label);
            node.appendChild(field);
            emails.appendChild(node);
            {% endif %}
            var but = document.createElement("button")
            but.setAttribute("class","btn-block btn btn-success")
            but.setAttribute("value","Submit")
            but.innerHTML = "Submit"
            emails.appendChild(but)
        }
    </script>
{% endblock %}
